<!--
	@file name : straight_test.launch
	@author : Tsai,Li-Chun
	@brief  : 
-->

<launch>
	<node name="cas2ndagv_io_ctl_node" 
		  pkg="cas2ndagv_io_controller"
		  type="cas2ndagv_io_ctl_node"
		  output="screen" >
	</node>
	
	<node name="cas2ndagv_io2status_node" 
		  pkg="cas2ndagv_io_controller"
		  type="cas2ndagv_io2status_node"
		  output="screen" >
	</node>

	<node name="main_motorController" 
		  pkg="motor_controller"
		  type="main_motorController"
		  output="screen" >
	</node>
	<node name="main_tf_odometry" 
		  pkg="odometry_transform"
		  type="main_tf_odometry"
		  output="screen" >
	</node>

	<!-- <node name="pub_cmdvel2odom_dummy" 
		  pkg="open_loop_motor_control"
		  type="pub_cmdvel2odom_dummy"
		  output="screen" >
	</node> -->

	<node name="movement_control_Node" 
		  pkg="open_loop_motor_control"
		  type="movement_control_Node"
		  output="screen" >
	</node>
</launch>

