<!--
	@file name : testrun.launch
	@author : Tsai,Li-Chun
	@brief  : 
-->

<launch>

	<!-- AMR walk -->
	<include file="$(find open_loop_motor_control)/launch/straight_test.launch" />

	<!-- realsense_camera -->
	<node name="realsense_camera_aruco_node" 
		  pkg="realsense_camera"
		  type="realsense_camera_aruco_node.py"
		  output="screen" >
	</node>

	<!-- D-bot control -->
	<node name="robot_control_node" 
		  pkg="robot_control"
		  type="robot_control_node.py" >
	</node>

	<!-- state_machine -->
	<node name="state_machine_node" 
		  pkg="state_machine"
		  type="state_machine_node.py"
		  output="screen" >
	</node>

	<!-- data upload -->
	<node name="upload_node" 
		  pkg="upload_img"
		  type="upload_node.py"
		  output="screen" >
	</node>
	
</launch>
